@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*
Árvore do site. Dentro dela eu usei variáveis em CCS3 para facilitar a modificação futura do site, mas no momento eu não estou usando elas no site.
:root{
    --cor0: white;
    --cor1: #84E1AD;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    
}*/

/**{
    margin: 0px;
    padding: 0px;
}*/

body{
    background-color: #84E1AD;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: justify;
    text-indent: 15px;    
}

header{
    color: white;
    text-align: center;
    background-image: linear-gradient( #39D07E, #2C9D5F,#1B5F3A);
    padding: 10px;
    margin: auto;
}

nav{
    padding-top: 20px;
}

nav > a{
    text-decoration: none;
    color: white;
    padding-right: 30px;
    /*transition-duration: 0.5s;*/
}

nav > a:hover{
    background-color: #84E1AD;
    border-radius: 10px;
    padding: 10px;
}

main{
    background-color: white;
    padding: 20px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.589);
}

#h21{
    text-indent: 0px;
    text-align: left;
}

h3{
    color: #1A5C38;
    background-image: linear-gradient(to right, #C5EBD6,#D6F1E2, #f5f5f5, #ffffff);
}

picture > img{
    margin: auto;
    display: block;
    width: 100%;
}

#iframe{
    margin: 0px -20px 30px -20px;
    background-color: #1A5C38;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

#iframe > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#section4{
    background-color: #C5EBD6;
    border-radius: 0px 0px 15px 15px;
    padding: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.589);
}

#especial{
    background-color: #2FA866;
    padding: 10px;
    margin-bottom: 0px;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.589);
}

ul{
    text-decoration: underline;
    text-decoration-style: dotted;
    /*
    list-style-type: '\2705\00a0\00a0';
    list-style-position: inside;
    columns: 2;
    */
}

footer{
    margin: 0px;
    padding: 0px;
}

footer > p{
    background-color: #C5EBD6;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
}

h2{
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    color: #1A5C38;
}

h3{
    font-family: 'idroid', Arial, Helvetica, sans-serif;
}

p > a::after{
    content: '\1F517';
}

a{
    color: #1A5C38;
    text-decoration: none;
}

#bugdroid{
    max-width: 320px;
}
